body {
  font-family: "Poppins", sans-serif;
  width: 1440px;
  height: 100vh;
  background-color: hsl(0, 100%, 74%);
  background-image: url("./images/bg-intro-desktop.png");
  background-repeat: no-repeat;
  font-size: 16px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  color: white;
  width: 500px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 50px;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  margin-top: -15px;
  margin-bottom: 10px;
  line-height: 1;
}

.left p {
  font-size: 16px;
  line-height: 1.6;
}

.right {
  width: 500px;
  height: 88vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 450px;
  height: 58px;
  padding-right: 7px;
  padding-left: 7px;
  background-color: hsl(248, 32%, 49%);
  color: hsl(240, 20%, 90%);
  font-size: 13px;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 6px 0 0 hsla(0, 0%, 10%, 0.26);
  margin-bottom: 7px;
}

.header .span {
  color: white;
  font-size: 13px;
  font-weight: bold;
  margin-right: 5px;
}

form {
  background-color: white;
  width: 450px;
  height: 53vh;
  padding-top: 20px;
  padding-right: 7px;
  padding-left: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

input {
  width: 375px;
  height: 58px;
  padding: 0;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid hsla(246, 25%, 77%, 0.486);
  outline: none;
  padding-left: 25px;
  font-weight: bold;
}

input:focus {
  outline: 1px solid hsl(249, 10%, 26%);
}

form input:last-child {
  width: 400px;
  background-color: hsl(154, 59%, 51%);
  color: white;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 3px 0 0 hsl(154, 66%, 43%);
  border: none;
  outline: none;
}

.footer {
  color: hsl(246, 25%, 77%);
  font-size: 10px;
  height: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 6px 0 0 hsla(0, 0%, 10%, 0.26);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.footer span {
  cursor: pointer;
  color: hsl(0, 100%, 74%);
  font-weight: bold;
}

.first,
.last,
.mail,
.pass {
  font-style: italic;
  color: hsl(0, 100%, 74%);
  width: 375px;
  height: 10px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: end;
  margin-top: 25px;
}

br {
  display: none;
}

@media (max-width: 375px) {
  body {
    width: 375px;
  }
  main {
    display: block;
  }
  .left {
    color: white;
    width: 340px;
    height: 350px;
    margin: 20px;
  }
  h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1.4;
    width: 325px;
    text-align: center;
  }
  .left p {
    font-size: 16px;
    line-height: 2;
    width: 325px;
    text-align: center;
  }
  .right {
    width: 340px;
    height: 600px;
    margin: 20px;
  }
  .header {
    width: 340px;
    height: 70px;
  }
  .header div:last-child {
    text-align: center;
  }
  br {
    display: block;
  }
  .form {
    width: 340px;
  }
  form {
    width: 340px;
  }
  input {
    width: 280px;
  }
  form input:last-child {
    width: 305px;
  }
  .footer {
    width: 225px;
    text-align: center;
  }
}/*# sourceMappingURL=index.css.map */